

.recipeAuthorBlock {
    display: flex;
    justify-content: space-evenly;
}
    
.imageUpdates {
    object-fit: scale-down;
    scale: .5;
}

p {
    padding-left: 30em;
    padding-right: 30em;
    word-spacing: 10px;
}